<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Where Stories Live, 기가박스</title>
</head>
<body>
<div layout:fragment="content" class="store-detail">
    <div class="center">
        <h2 th:text="${detail.title}"></h2>
        <p th:text="${detail.category3}"></p>
        <div class="product-box">
            <div class="product-img">
                <img th:src="${detail.image}" alt="상품 이미지">
            </div>
            <div class="product-description">
                <table>
                    <tr>
                        <th>제품 번호</th>
                        <td>
                            <meta name="item-id" id=""th:text="${detail.id}" />
                            <input type="hidden" id="item-id" th:value="${detail.id}">
                        </td>

                    </tr>
                    <tr>
                        <th>사용극장</th>
                        <td><a th:href="@{/}">사용가능극장</a></td>
                    </tr>
                    <tr>
                        <th>유효기간</th>
                        <td>구매일로부터 30일 이내 사용 가능</td>
                    </tr>
                    <tr>
                        <th>판매수량</th>
                        <td>1회 10개까지 구매가능</td>
                    </tr>
                    <tr>
                        <th>구매 후 취소</th>
                        <td>구매일로부터 10일 이내 취소 가능하며, 부분취소는 불가능합니다.</td>
                    </tr>
                    <tr class="price-area">
                        <th>가격</th>
                        <td><meta name="item-price" th:content="${detail.lprice}" th:text="${detail.lprice}" /></td>
                    </tr>

                    <tr class="btn-box">
                        <td colspan="2">
                            <button class="add-to-cart-btn" th:data-detail-id="${detail.id}">장바구니 추가</button>
                            <button type="button" class="button2">구매</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="info">
            <div class="info-txt">
                <h5>구매 후 취소</h5>
                <div class="arrow arrow-down">
                    <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"><title/><path d="M81.8457,25.3876a6.0239,6.0239,0,0,0-8.45.7676L48,56.6257l-25.396-30.47a5.999,5.999,0,1,0-9.2114,7.6879L43.3943,69.8452a5.9969,5.9969,0,0,0,9.2114,0L82.6074,33.8431A6.0076,6.0076,0,0,0,81.8457,25.3876Z"/></svg>
                </div>
                <div class="arrow arrow-up">
                    <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"><title/><path d="M82.6074,62.1072,52.6057,26.1052a6.2028,6.2028,0,0,0-9.2114,0L13.3926,62.1072a5.999,5.999,0,1,0,9.2114,7.6879L48,39.3246,73.396,69.7951a5.999,5.999,0,1,0,9.2114-7.6879Z"/></svg>
                </div>
            </div>
            <div class="info-des">
                <p>
                    ■ 연장/취소/환불 안내<br>
                    본 상품은 구매일로부터 10일 이내에 취소 가능합니다.<br>
                    - 유효기간은 본 상품의 유효기간 내에서 연장 신청이 가능하여, 1회 연장 3개월(92개월) 단위로 연장됩니다.<br>
                    - 구매일로부터 5년까지 유효기간 연장이 가능합니다.<br>
                    - 최초 유효기간 만료 후에는 결제금액의 90%에 대해 환불 요청 가능하며, 환불 처리에 7일 이상의 시간이 소요될 수 있습니다.<br>
                    - 구매 취소 및 환불 요청은 미사용 상품에 한해 가능하며, 사용한 상품에 대해서는 불가합니다.<br>
                    - 본 상품은 현금으로 환불이 불가합니다.<br>
                    - 환불 요청한 포인트 중 소멸 포인트가 포함되어있다면 환불 요청한 월의 말일까지 사용 가능한 포인트로 돌아갑니다.<br>
                    ※ 2020년 2월 4일 이후 구매 상품에 한하여 유효기간 연장 신청이 가능합니다.
                </p>
            </div>
        </div>
        <div class="info">
            <div class="info-txt">
                <h5>상품이용안내</h5>
                <div class="arrow arrow-down">
                    <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"><title/><path d="M81.8457,25.3876a6.0239,6.0239,0,0,0-8.45.7676L48,56.6257l-25.396-30.47a5.999,5.999,0,1,0-9.2114,7.6879L43.3943,69.8452a5.9969,5.9969,0,0,0,9.2114,0L82.6074,33.8431A6.0076,6.0076,0,0,0,81.8457,25.3876Z"/></svg>
                </div>
                <div class="arrow arrow-up">
                    <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg"><title/><path d="M82.6074,62.1072,52.6057,26.1052a6.2028,6.2028,0,0,0-9.2114,0L13.3926,62.1072a5.999,5.999,0,1,0,9.2114,7.6879L48,39.3246,73.396,69.7951a5.999,5.999,0,1,0,9.2114-7.6879Z"/></svg>
                </div>

            </div>
            <div class="info-des">
                <p>
                    ■ 사용가능 지점<br>
                    구매 전 사용가능 지점을 반드시 확인해주세요!<br>
                    - 서울 : 강남, 더 부티크 목동현대백화, 동대문, 마곡, 목동, 상봉, 상암월드컵경기장, 성수, 센트럴, 신촌, 이수, 코엑스, 홍대, 화곡<br>
                    - 인천/경기/강원 : 고양스타필드, 광명AK플라자, 금정AK플라자, 김포한강신도시, 남양주현대아울렛 스페이스원, 백석벨라시타, 부천스타필드, 분당, 송도, 수원스타필드, 수원AK플라자, 수원인계, 안성스타필드, 용인기흥, 춘천석사, 킨텍스, 파주출판도시, 하남스타필드<br>
                    - 대전/충청 : 대전, 대전신세계 아트앤사이언스, 대전유성, 대전중앙로, 대전현대아울렛, 세종나성<br>
                    - 부산/대구/경상 : 구미강동, 남포항, 대구신세계(동대구), 대구이시아, 마산, 문경, 사상, 양산증산, 창원내서, 포항<br><br>

                    ■이용 안내<br>
                    본 상품의 사용 기한은 구매일로부터 92일까지입니다.<br>
                    - 본 상품은 온라인 전용 판매 상품으로 현장 구매는 불가합니다.<br>
                    - 구매한 상품은 “나의 메가박스 > 스토어 구매내역”에서 확인할 수 있습니다.<br>
                    - 상기 이미지는 실제 제품과 다를 수 있습니다.<br>
                    - 본 상품은 포인트 사용분 외 실 결제금액에 한하여 교환권 사용시 적립 가능합니다.<br><br>

                    ■ 교환권 사용방법 안내<br>
                    - [모바일오더] 메가박스 어플 > 모바일오더 > 스토어교환권 > 상품 선택 > 스토어교환권 등록 > 상품 선택 >결제<br>
                    - [현장키오스크] 매점구매 > 매점교환권 > PIN번호 입력 > 상품 선택 > 결제
                </p>
            </div>

        </div>
    </div>

</div>
<script layout:fragment="script" type="text/javascript">
    // 초기화 함수: 각 기능별 초기화 실행

    $(function(){
    // 스토어 탭 메뉴
    $('.tabcontent > div').hide();
    $('.tab-title a').click(function(){
        $('.tabcontent > div').hide().filter(this.hash).fadeIn();
        $('.tab-title a').removeClass('active');
        $(this).addClass('active');
        return false;
    }).filter(':eq(0)').click();

    // 스토어 상세페이지 info (클릭 시 정보 표시/숨기기)
    $('.info-txt').click(function() {
        var info = $(this).closest('.info');  // 해당 .info 부모 찾기
        var infoDes = info.find('.info-des');
        var arrowDown = info.find('.arrow-down');
        var arrowUp = info.find('.arrow-up');

        // info를 토글하고 info-des의 표시를 전환
        info.toggleClass('open');
        if (info.hasClass('open')) {
            infoDes.slideDown(); // 부드럽게 표시
        } else {
            infoDes.slideUp(); // 부드럽게 숨기기
        }

        //화살표 변경
        arrowDown.toggle();
        arrowUp.toggle();
    });


    $(".add-to-cart-btn").click(function() {
    let detailId = $(this).data("detail-id");

    if (!detailId) {
        alert("상품 아이디가 유효하지 않습니다.");
        return;
    }

    if (confirm("장바구니에 추가하시겠습니까?")) {
        $.post(`/cart/add/${detailId}`, function(response) {
            alert(response);  // 응답 내용 표시
            if (confirm("장바구니에 추가되었습니다. 장바구니로 이동하시겠습니까?")) {
                window.location.href = "/cart/cart";
            }
        }).fail(function() {
            alert("장바구니 추가에 실패했습니다. 다시 시도해 주세요.");
        });
    }
});



});
</script>

</body>
</html>