
/* 달력 */
.dateTimeWrapper {
    height: 40px;
    background-color: #fff;
    color: white !important;
    overflow:hidden;
    display: flex;
    align-items: center;
    border-top:1px solid #666;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

.scroll-btn {
    width:50px;
    height:100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}
.scroll-btn img {
    width:20px;
}
.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}
.dateTimeWrapper table {
    overflow:hidden;
    position: relative;
    height: 40px;
}
.datesWrapper {
    height:100%;
    display: flex;
    position: absolute;  /* 위치 조정 가능하게 */
    transition: left 0.3s ease;  /* 부드러운 이동 애니메이션 */
    top:50%;
    transform:translateY(-50%);
}

.dateHolder {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    height:100%;
}

.dateHolder li {
    height: 40px;
    padding-top:3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 90px;
    text-align: center;
    white-space: nowrap;
    transition: background-color 0.1s ease, border-bottom 0.1s ease; /* border-bottom에 transition 적용 */
    box-sizing: border-box;  /* border 포함하여 크기 계산 */
}
.dateHolder li:hover,
.dateHolder li.active{
    border-bottom: 2px solid #503396;
    background-color: #f7f8f9;
}

.meaning {
    margin-left: 5px;
}
.dateHolder div {
    padding: 8px 0;
}

.dateHolder .date {
    color: #222;
    font-size: 14px;
}

.dateHolder .day {
    color: #222;
    font-size: 14px;
}
.dateHolder .date:after {
    content:"·";
    margin:0 5px;
}

.dateCurrent {
    color: #222 !important;
    text-shadow: 0 0 0 #222;
}

.day.saturday {
    color: #3b5fcb;
}

.day.sunday {
    color: red;
}

.date.saturday {
    color: #3b5fcb;
}

.date.sunday {
    color: red;
}





        .movie-book {
            width:100%;
            height:100vh;
        }
        .movie-book .center h2{
            margin: 30px 0;
            color:#222;
        }
        .movie-book .center {
            display: flex;
            flex-flow:column nowrap;
            justify-content: center;
            margin:0 auto;
            overflow:hidden;
        }


        .flex01 {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .nav-buttons {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        .nav-buttons button {
            background-color: #333;
            color: #37BC9B;
            border: none;
            padding: 10px 20px;
            margin: 0 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .nav-buttons button:hover {
            background-color: #555;
        }

        .total-box {
            width:100%;
            border:1px solid #ddd;
            display:flex;
            flex-flow:row nowrap;
            justify-content:space-between;
        }
        .total-box > div > h3 {
            padding:20px 0;
            border-bottom:1px solid #444;
        }
        /*영화 리스트*/
        .movie-pick{
            width:270px;
            padding:0 20px;
            border-right:1px solid #ddd;

        }
        .select-movies {
            width:230px;
            height:300px;
            overflow-y:scroll;

        }
        .select-movies a:hover,
        #movieList a.active{
            background-color:#78B3CE;
        }
        .select-movies a {
            width:100%;
            font-size: 14px;
            display:flex;
            padding:3px 0;
            flex-flow:row nowrap;
            justify-content:left;
        }

        .select-movies a p{
            white-space:wrap;
            line-height:20px;
        }

        /* 영화상영관 리스트 */
        .area-pick {
           width:330px;
           padding:0 15px;
           border-right:1px solid #ddd;
        }
        .three-depth-tab-menu {
            width:150px;
            height:300px;
            position: relative;
            background-color: #eee;
        }
        .three-depth-tab-menu .sub1 {
            width:150px;
            position: absolute;
            left:150px;
            top:0;
            height:300px;
            overflow-y:scroll;
            overflow-x:hidden;
            background-color:#fff;
            border-left:1px solid #ddd;
        }
        .three-depth-tab-menu .sub1::-webkit-scrollbar {
            width:30px;
        }
        .three-depth-tab-menu ul {
            height:300px;
        }
        .three-depth-tab-menu ul li {
            width:100%;
            padding:3px 0px 3px 20px; ;

        }
        .three-depth-tab-menu ul li a:hover,
        .three-depth-tab-menu ul li a.active {
            background-color: #C9B7FD;
        }
        .three-depth-tab-menu ul li a {
            color:#222;
            font-size:14px;
            white-space:wrap;
        }

        .three-depth-tab-menu .sub1 {
            display: none;
        }
        .three-depth-tab-menu > ul > li:first-child .sub1 {
            display: block;
            width:160px;
        }


        /* time */
        .time-pick{
            width:500px;
            padding:0 20px;
        }
        .time {
            width:100%;
            height:30px;
            position: relative;
            top:0;
            display: flex;
        }

        #additionalTimesContainer {
            display:flex;
            flex-flow:row wrap;
            padding:30px;

        }
        #additionalTimesContainer a {
            font-size: 15px;
            height:20px;
            display: block;
            margin: 10px 30px;
            text-align:center;
        }

        .confirm-box {
            border-bottom: 1px solid #444;
            padding:30px 0;
        }
        #bookReservation {
            width:100px;
            height:100px;
        }

        .time > div > a:hover,
        .time > div > a.active {
            background-color: #C9B7FD;
        }
        .time > div > a {
            color:#222;
            font-size:14px;
            white-space:wrap;
        }


#reservationDetails {
    width:600px;
    min-height:100px;
}
#reservationDetails tr {
    font-size:14px;
    height:auto;
}
#reservationDetails th {
     font-size:14px;
     width: 50px;
}


        /*극장*/

        .theater {
            margin-top:50px;
        }
        .theater .center {
            height: 100%;
            margin: 0 auto;
        }
        .theater .center h1 {
            margin-bottom:30px;
            font-size:30px;
            font-weight:100;
        }
        .area-tab {
            width:100%;
            min-height:100px;
            border:2px solid #666;
            border-radius:10px;
            overflow:hidden;
            margin-bottom:50px;
        }
        .area-title {
            font-size:14px;
            width:100%;
            display:flex;
            flex-flow:row nowrap;
            border-bottom:1px solid #ddd;
        }
        .area-title li {
            display:inline-block;
            width:calc(100% / 8);
            margin:0;
            height:49px;
            text-align:center;
            border-right:1px solid #ddd;
            box-sizing: border-box;

        }
        .area-title li:last-child {
          border-right: none; /* 중간 테두리를 없앰 */
        }

        /*li선택하기 전 상태*/
        .area-title li a:before {
            content:"";
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:1px;
        }


        .area-title li a.active {
            background-color:#666;
            color:#fff;
        }
        .area-title li a {
            height:100%;
            position:relative;
            display:block;
            color:#222;
            line-height:46px;
            text-decoration:none;
            font-size:15px;
            white-space:nowrap;
        }

        .area-content {
            width:100%;
            padding:35px;
        }

        .theater-unit{
            display:flex;
            flex-flow: row wrap;
        }
        .theater-unit ul {
            width:calc(100% / 4);
            height:25px;

        }
        .theater-unit ul li a{
            font-size:15px;
            color:#444;
        }


        /*극장 상세페이지*/
        .theater-detail {
            width:100%;
        }
        .theater-detail h4 {
            color:#503396;
            font-size:20px;
            margin-bottom:15px;
            display:block;
        }
        .theater-detail span {
            color:#222;
            font-size:18px;
            margin-bottom:10px;
            display:block;
        }
        .theater-detail b {
            color:#01738b;
            font-size:16px;
            font-weight:100;
        }
       .theater-detail p {
           color:#666;
           font-size:16px;
           display:block;
           margin-bottom:5px;
           width: auto;
        }
        .theater-detail .theater-title {
            background-color:#000;
            background-image:url(../img/theater-header.jpg);
            background-position:center;
            background-repeat:no-repeat;
            height:200px;
            padding:80px 0;
        }
        .theater-detail .theater-title h2 {
            margin:auto 0;
            color:#efefef;
            font-size:45px;
            text-align:center;
            display:block;
        }
        .theater-detail .center {
            height: 100%;
            margin: 0 auto;
            display:flex;
            flex-flow:column nowrap;
            align-items:left;
        }
        .theater-detail .center h3 {
            display:block;
            margin: 30px 0;
            font-size:25px;
            font-weight:100;
            color:#444;
        }
        .theater-info {
            width:100%;
            border-top:1px solid #ddd;
            padding:50px 0;
        }
        .facility-info .facility {
            width: 40%;
            margin-bottom:15px;
            padding: 0 30px;
        }
        .facility-info .facility ul {
            display:flex;
            flex-flow:row nowrap;
            align-items:center;
            justify-content:space-between;
        }
        .facility-info .facility ul li {
            display:flex;
            flex-flow: column nowrap;
            align-items:center;
            gap:10px;
        }

        .traffic-info {
            margin:50px 0;
        }
        .traffic-info .addr {
            width: auto;
        }
        .parking {
            border:1px solid #ddd;
            border-radius:10px;
            padding:30px;
        }
        .parking1, .parking2, parking3 {
            margin-bottom: 20px;
        }
        .parking1 .txt, .parking2 .txt, .parking3 .txt {
            width:90%;


        }
        .parking1 .txt h5, .parking2 .txt h5, .parking3 .txt h5{
            font-size:15px;
            margin-bottom:10px;
        }
        .parking1 .txt p, .parking2 .txt p, .parking3 .txt p {
            font-size:15px;
            margin-bottom:8px;
            display:block;
        }


        .parking {
                    border:1px solid #ddd;
                    border-radius:10px;
                    padding:30px;
                    margin-bottom:20px;
                }
                .parking1, .parking2, parking3 {
                    margin-bottom: 20px;
                }
                .parking1 .txt, .parking2 .txt, .parking3 .txt {
                    width:90%;


                }
                .parking1 .txt h5, .parking2 .txt h5, .parking3 .txt h5{
                    font-size:15px;
                    margin-bottom:10px;
                }
                .parking1 .txt p, .parking2 .txt p, .parking3 .txt p {
                    font-size:15px;
                    margin-bottom:5px;
                }

        .transport {
            border:1px solid #ddd;
            border-radius:10px;
            padding:30px;
            margin-bottom:50px;
        }
        .trans {
            margin-bottom: 20px;
        }
        .trans .txt {
            width:90%;
        }
        .trans .txt h5{
            font-size:15px;
            margin-bottom:10px;
        }
        .trans .txt p {
            font-size:15px;
            margin-bottom:5px;
        }



        .theater-evt {
            font-size:25px;
            font-weight:100;
            color:#503396;
            margin:0px 0 20px;
        }
        .event-banner {
             width:100%;
             margin-bottom:50px;
        }
        .event-banner .evt {

            overflow:hidden;
            position:relative;
        }
        .event-banner .evt img {
            object-fit:cover;
            border-radius:10px;
        }
        .event-banner .evt .evt-txt {
            position:absolute;
            top:40px;
            left:40px;
        }
        .event-banner .evt .evt-txt h2{
            font-size:40px;
            font-weight:bold;
            line-height:50px;
            color:#444;
        }
        .event-banner .evt .evt-txt p{
            font-size:18px;
            line-height:40px;
            color:#222;
        }

/*예약확인*/
.show-booking {
    width: 100%;
    min-height:650px;
    top: 0; left: 0;
    position: relative;
    background-image:  linear-gradient(0deg, rgb(0, 0, 0) 10%, transparent 10%, transparent 50%, rgba(0, 0, 0, 0.336) 50%);
    background-size: 2px 2px;
    background-color: rgba(0, 0, 0, 0.781);    width: 100%;
}
.show-booking .center {
    margin:0 auto;
    height:100%;
}
.show-booking .center .show-book {
    width: 80%;
    height:100%;
    margin: 0 auto;
    background-color:#fff;
}
.show-booking .center .book-inner {
    width:100%;
}
.show-booking .center .book-inner table {
    width: 90%;
    height: 250px;
    margin: 0 auto;
}
.show-booking .center .book-inner table tr {
    height: 40px;
}
.show-booking .center .book-inner table tr th {
    height: 100%;
    width: 20%;
}
.show-booking .center .book-inner table tr td {
    height: 100%;
    width: 80%;
    padding-left:20px;
}

/*최종 예약 내역*/
.final-reservation .center {
    display:flex;
    flex-flow:row nowrap;
    align-items:top;
    justify-content:space-between;
    margin:50px auto 0;
    overflow:hidden;
}
.final-reservation .center .list-wrap{
    width:80%;
    padding-left:50px;
}
.final-reservation .center .list-wrap h2 {
    text-align:left;
    margin-top:0;
    margin-bottom: 30px;
    font-size:30px;
}
.final-reservation .center .list-wrap .final-list table{
    border-radius:5px;
    border:1px solid #ccc;
    width: 100%;
    padding: 30px;
    margin-bottom : 20px;
}
.final-reservation .center .list-wrap .final-list table th {
    width: 100px;
    font-size: 16px;
    text-align:right;
    color:#444;
}
.final-reservation .center .list-wrap .final-list table td {
    padding-left:20px;
}
.final-reservation .center .list-wrap .final-list .personnel p {
    white-space: nowrap;
    display: inline-block;
    margin-right: 10px;
}