<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Where Stories Live, 기가박스</title>
</head>
<body>
<div layout:fragment="content" class="myhome">
    <div class="center flex">
        <div class="boardlist">
            <div class="support-list">
                <div class="list-title">
                    <a th:href="@{/mypage}">
                        <p>나의 기가박스</p>
                    </a>
                </div>
                <div class="list">
                    <ul>
                        <li><a th:href="@{/reservation/final}">
                            <p>예매/구매내역</p>
                        </a></li>
                        <li><a th:href="@{/cart/cart}">
                            <p>스토어 구매내역</p>
                        </a></li>
                        <li><a th:href="@{/qna/list}">
                            <p>나의 문의내역<i><img th:src="@{/img/right-arrow-icon.svg}"></i></p>
                        </a></li>
                        <li><a th:href="@{/user/verify}">
                            <p>회원정보</p>
                        </a></li>
                    </ul>
                </div>
                <div class="list-info">

                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>