<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Where Stories Live, 기가박스</title>
</head>
<body>
<div layout:fragment="content" class="info-edit">
    <div class="center">
        <div class="boardlist">
            <div class="support-list">
                <div class="list-title">
                    <a th:href="@{/mypage}">
                        <p>나의 기가박스</p>
                    </a>
                </div>
                <div class="list">
                    <ul>
                        <li><a th:href="@{/reservation/final}">
                            <p>예매/구매내역</p>
                        </a></li>
                        <li><a th:href="@{/cart/cart}">
                            <p>스토어 구매내역</p>
                        </a></li>
                        <li><a th:href="@{/qna/list}">
                            <p>나의 문의내역</p>
                        </a></li>
                        <li><a th:href="@{/user/verify}">
                            <p>회원정보<i><img th:src="@{/img/right-arrow-icon.svg}"></i></p>
                        </a></li>
                    </ul>
                </div>
                <div class="list-info">

                </div>
            </div>
        </div>
        <div class="password-verify">
            <h2>회원정보 변경</h2>
            <form th:action="@{/user/verify}" method="post">
                <table>
                    <tr>
                        <th>비밀번호</th>
                        <td>
                            <input type="password" name="password" placeholder="비밀번호를 입력하세요." required>
                            <div class="error-message" th:if="${param.error}" style="color: red;">
                                비밀번호가 틀렸습니다. 다시 입력해주세요.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="join_btn">
                                <button type="submit">확인</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>

</div>
</body>
</html>